<div class="flex flex-col w-full h-screen pb-1">
  <% @email_server %>
  <nav class="flex items-center gap-x-1 w-full h-9 py-1">
    <div class="flex items-center h-7 px-4 py-0.5 text-sm font-light bg-neutral-800/50 rounded-sm">Inbox</div>
  </nav>
  <div class="w-full flex-grow bg-neutral-800/40 border border-neutral-800/50 rounded-sm">
    <div class="flex items-center justfy-between h-10 px-6 border-b border-neutral-800/50">
      <div><p class="text-sm font-light">Filter</p></div>
    </div>
    <div class="flex justify-between h-10 px-6 border-b border-neutral-800/20">
      <div class="flex items-center gap-x-1.5">
        <div class="flex items-center justify-center w-5 h-5 text-xs font-light text-black rounded-full bg-indigo-200">Au</div>
        <p class="text-xs">Austin Wasson</p>
      </div>
    </div>
  </div>
</div>
